<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/pico.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Mi Cartera en java - {{ title }}</title>
    <script src="/static/js/app.js"></script>
    
</head>
<body>
    <header>
       <p class="container"> Mi cartera</p>
    </header>
    <section class = container >
        
        <nav>
            <div></div>
            <a href="#" id="btnNuevo" role="button">Nuevo</a>
        </nav>
        <h1>Movimientos</h1>
        <table >
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Concepto</th>
                    <th>Cantidad</th>
                    <th>Moneda</th>
                </tr>
            </thead>
            <tbody id="table_movements">

            </tbody>
            
        </table>

        <article id="form_container" class="invisible">
            <form>
                <div>
                    <input type="date" name="date" id="date" placeholder="Fecha">
                </div>
                <div>
                    <input type="text" name="abstract" id="abstract" placeholder="Concepto">
                </div>
                <div>
                    <input type="number" name="amount" id="amount" step="0.01" placeholder="Cantidad (negativo es gasto)">
                </div>
                <div>
                    <select name="currency" id="currency" placeholder="Moneda">
                        <option value="EUR">Euros</option>
                        <option value="USD">Dólares americanos</option>
                    </select>
                </div>
                <div>
                    <input type="submit" name="submit" id="submit" value="Aceptar">
                </div>
            </form>
        </article>
    </section>
    <footer> 
        <p class="container">&copy; Nieves 2023</p>
    </footer>
</body>
</html>